In [29]:
#pip install pyspark

In [30]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Basics').getOrCreate()

In [31]:
spark

In [32]:
df = spark.read.json("people.json")

In [33]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [34]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [35]:
df.describe()

DataFrame[summary: string, age: string, name: string]

### To show statistics of the data

In [36]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [37]:
df.columns

['age', 'name']

In [38]:
from pyspark.sql.types import (StructField, StringType, 
                                IntegerType, StructType)

In [39]:
data_schema = [StructField('age',IntegerType(),True),
                StructField('name',StringType(),True)]

In [40]:
final_struc = StructType(fields= data_schema)

In [41]:
df = spark.read.json('people.json',schema=final_struc)

In [42]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [43]:
type(df['age'])

pyspark.sql.column.Column

### Showing a dataframe of 1 column

In [44]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [45]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [46]:
df.head(3)

[Row(age=None, name='Michael'),
 Row(age=30, name='Andy'),
 Row(age=19, name='Justin')]

In [47]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [48]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [49]:
df.withColumn('doubleage',df['age'] *2).show() # Not a inplace transformation

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [55]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [54]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [56]:
df.createOrReplaceTempView('people')

In [57]:
results = spark.sql("SELECT * FROM people")

In [58]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [59]:
new_results = spark.sql("select * from people where age = 30")
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+